<!DOCTYPE html> <meta charset="UTF8">
<html>
<script src="/js/jquery.js"></script>
<script src="/js/d3-master/d3.js"></script>
<script src="/js/CodeFlower.js"></script>

<link rel="stylesheet" type="text/css" href="/styles/bootstrap-responsive.min.css"/>
<link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/styles/style.css"/>
<link rel="stylesheet" type="text/css" href="/styles/homepage.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
<script src="/js/lodash.js"></script>
<script src="/js/homepage.js"></script>








<body>
<img clas="image" src="/images/logo.png" />
<div class="clearfix"></div>
<div class="input-container">

  <input id="fromDomain" type="text" placeholder="FromDomain" /><br />
  <input id="toDomain" type="text" placeholder="ToDomain"/>
  <button id="submit-butn">Submit</button>
</div>

<div class="clearfix"></div>
<div id="container">
</div>
<div class="dashboard" id="dashboard">
  <div id="dashboardText"></div>
</div>

<div id="table-container">
  <table id="example"></table>
</div>
</body>
</html>
